/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Style for the main content */
main {
    padding: 20px;
}

/* Style for the wallet section */
#wallet {
    margin-bottom: 20px;
}

/* Style for the connect wallet button */
#connectWallet {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for wallet data */
#walletData {
    margin-top: 20px;
}

/* Token type */
.token-type {
    list-style-type: none; /* Remove default bullet point */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Token type item */
.token-type-item {
    margin-bottom: 10px; /* Add margin bottom for spacing between token types */
}

/* Name list */
.name-list {
    list-style-type: none; /* Remove default bullet point */
    margin: 0; /* Remove default margin */
    padding-left: 20px; /* Indent name list */
}

/* Name item */
.name-item {
    margin-bottom: 5px; /* Add margin bottom for spacing between name items */
}

/* Property list */
.property-list {
    list-style-type: none; /* Remove default bullet point */
    margin: 0; /* Remove default margin */
    padding-left: 20px; /* Indent property list */
}

/* Property item */
.property-item {
    margin-bottom: 5px; /* Add margin bottom for spacing between property items */
}

/* Style for clickable items */
.clickable {
    cursor: pointer;
    user-select: none; /* Prevent text selection on click */
    padding-left: 20px; /* Add left padding for indentation */
}

/* Style for nested (sublist) items */
.nested {
    transition-property: height; /* Add smooth transition for height property */
    transition-duration: 2sß;
    padding-left: 40px; /* Add left padding for indentation */
    height: 0; /* Initially set height to 0 to hide items */
    overflow: hidden; /* Hide overflow content */
}

/* Style for visible (expanded) nested items */
.nested:not(.hidden) {
    height: auto; /* Set height to auto to allow expansion */
    padding-left: 80px
}